html,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}
.page {
  height: 100vh;
  width: 100vw;
  // perspective: 100px;
  // perspective-origin: left;
}

.cube {
  // margin: auto; //// keep blocks in the center
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateY(20deg) rotateZ(0deg);
}

.side {
  position: absolute;
  width: 8rem;
  height: 8rem;

  background: rgba(rgb(0, 0, 0), 0);
  border: 1px solid rgba(0, 0, 0, 0.1);

  color: white;
  // text-align: center;
  // line-height: 2rem;
  &:hover {
    // background: rgba(rgb(255, 55, 19), 1);
  }
}

.front {
  transform: translateZ(4rem);
}
.top {
  transform: rotateX(90deg) translateZ(4rem);
}
.right {
  transform: rotateY(90deg) translateZ(4rem);
}
.left {
  transform: rotateY(-90deg) translateZ(4rem);
}
.bottom {
  transform: rotateX(-90deg) translateZ(4rem);
}
.back {
  transform: rotateY(-180deg) translateZ(4rem);
}

.scene {
  // position: absolute;
  transform-style: preserve-3d;
  animation: scene_rotate 10s infinite linear;
}

.scene_2 {
  margin-top: 12rem;
  animation-delay: 1s;
}

.scene_3 {
  margin-top: 24rem;
  animation-delay: 2s;
}

.scene_4 {
  margin-top: 36rem;
  animation-delay: 3s;
}

@keyframes scene_rotate {
  to {
    transform: rotateY(360deg);
  }
}
