:root {
  --scene_animation_speed: 10s;
  --internal_scene_rotation_speed: 10s;
  --animation_delay: 1s;
}

///// dialog
.optons {
  z-index: 2;
  position: absolute;
  margin: 0;
  padding: 1rem;
  background-color: rgba($color: #000000, $alpha: 1);
  color: #fff;
  width: 25vw;
  // height: 25vw;
  bottom: 5vh;
  right: 0;
}

.spacer {
  color: rgba($color: #000000, $alpha: 0);
}
.spacer_10 {
  margin-top: 10vh;
}
.page {
  margin: 5vw;
  height: 100vh;
  width: 90vw;
  font-size: 16px;
  perspective: 1000px;
  perspective-origin: center;
  // overflow: hidden;
  overflow-x: hidden;
  z-index: 1;
}

.cube {
  // margin: auto; //// keep blocks in the center
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateY(20deg) rotateZ(0deg);
}
.side {
  position: absolute;
  width: 8rem;
  height: 8rem;

  background: rgba(rgb(0, 0, 0), 0);
  border: 1px solid rgba(0, 0, 0, 0.1);

  color: white;
  // text-align: center;
  // line-height: 2rem;
  &:hover {
    background: rgba(rgb(0, 0, 0), 0.1);
  }
}

.front {
  transform: translateZ(4rem);
}
.top {
  transform: rotateX(90deg) translateZ(4rem);
}
.right {
  transform: rotateY(90deg) translateZ(4rem);
}
.left {
  transform: rotateY(-90deg) translateZ(4rem);
}
.bottom {
  transform: rotateX(-90deg) translateZ(4rem);
}
.back {
  transform: rotateY(-180deg) translateZ(4rem);
}

.scene {
  // position: absolute;
  transform-style: preserve-3d;
  animation: scene_rotate var(--scene_animation_speed) infinite linear;
}

.scene_2 {
  margin-top: 6rem;
  // animation-delay: 1s;
  animation-delay: var(--animation_delay);
}

.scene_3 {
  margin-top: 6rem;
  animation-delay: calc(var(--animation_delay) * 2);
}

.scene_4 {
  margin-top: 6rem;
  animation-delay: calc(var(--animation_delay) * 3);
}
.scene_5 {
  margin-top: 6rem;
  animation-delay: calc(var(--animation_delay) * 4);
}
.scene_6 {
  margin-top: 6rem;
  animation-delay: calc(var(--animation_delay) * 5);
}

@keyframes scene_rotate {
  to {
    transform: rotateY(360deg);
  }
}
//////////////////////////////////////////////
//// small cube - inside/internal cube
.internal_scene {
  position: absolute;
  transform-style: preserve-3d;
  animation: internal_scene_rotate var(--internal_scene_rotation_speed) infinite
    linear;
}
.internal_cube {
  width: 2rem;
  height: 2rem;
}

.internal_side {
  position: absolute;
  // margin: 0 auto; //// keep blocks in the center
  width: 2rem;
  height: 2rem;

  background: rgba(rgb(0, 0, 0), 0);
  border: 1px solid rgba(0, 0, 0, 0.1);

  color: white;
  // text-align: center;
  // line-height: 2rem;
  &:hover {
    background: rgba(rgb(0, 0, 0), 0.1);
  }
}

.internal_front {
  transform: translateZ(1rem);
}
.internal_top {
  transform: rotateX(90deg) translateZ(1rem);
}
.internal_right {
  transform: rotateY(90deg) translateZ(1rem);
}
.internal_left {
  transform: rotateY(-90deg) translateZ(1rem);
}
.internal_bottom {
  transform: rotateX(-90deg) translateZ(1rem);
}
.internal_back {
  transform: rotateY(-180deg) translateZ(1rem);
}

@keyframes internal_scene_rotate {
  to {
    transform: rotateY(720deg);
  }
}
